.boxWrapper {
  width: 800px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 5px 10px #ccc;
  margin: 50px auto;
  padding: 20px 50px;
  background-color: #fbfbfb;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
}

.contentWrapper > div {
  width: 48%;
}

.contentWrapper > div:first-child { border-right: 1px solid #ccc; }


/* button */

.btnWrapper {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: flex-end;
}

.btn.primary-btn { color: #fff; background-color: #821c47; border: 1px solid #821d47  }

.btn {
  background-color: #efeced;
  padding: 8px 10px;
  margin-right: 10px;
  color: #821c47;
  border: 1px solid #e2dfdf;
  border-radius: 2px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}


/* checkbox design*/
.rs-checkbox {
  position: relative;
  display: block;
}

.rs-checkbox-inline {
  position: relative;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: 400;
  margin-top: 0;
}

.rs-checkbox-checker {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 36px;
  min-height: 36px;
  line-height: 1;
  position: relative;
}

.rs-checkbox label {
  line-height: 1.14285714;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}

.rs-checkbox-wrapper {
  position: absolute;
  width: 16px;
  height: 16px;
  display: inline-block;
  left: 10px;
  top: 10px;
}

.rs-checkbox-wrapper [type=checkbox] {
  width: 0;
  height: 0;
  opacity: 0;
}

.rs-checkbox-checked .rs-checkbox-wrapper .rs-checkbox-inner:before, 
.rs-checkbox-indeterminate .rs-checkbox-wrapper .rs-checkbox-inner:before {
  border-color: #333333;
  background-color: #333333;
}

.rs-checkbox-checked .rs-checkbox-wrapper .rs-checkbox-inner:after {
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
}

.rs-checkbox-checked .rs-checkbox-wrapper .rs-checkbox-inner:after, 
.rs-checkbox-indeterminate .rs-checkbox-wrapper .rs-checkbox-inner:after {
  border: solid #ffffff;
  width: 4px;
  height: 8px;
  margin-top: 2px;
  margin-left: 6px;
  opacity: 1;
}

.rs-checkbox-indeterminate .rs-checkbox-wrapper .rs-checkbox-inner:after {
  border-width: 0 0 2px;
  -webkit-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  width: 12px;
  margin-top: 0;
  margin-left: 3px;
}

.rs-checkbox-checked .rs-checkbox-wrapper .rs-checkbox-inner:after {
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
}

.rs-checkbox-wrapper .rs-checkbox-inner:after, 
.rs-checkbox-wrapper .rs-checkbox-inner:before, 
.rs-checkbox-wrapper:before {
  width: 16px;
  height: 16px;
}

.rs-checkbox-wrapper .rs-checkbox-inner:before {
  border: 1px solid #6a6f76;
  background-color: transparent;
  border-radius: 3px;
  -webkit-transition: background .2s linear,border .2s linear,-webkit-box-shadow .2s linear;
  transition: background .2s linear,border .2s linear,-webkit-box-shadow .2s linear;
  transition: background .2s linear,border .2s linear,box-shadow .2s linear;
  transition: background .2s linear,border .2s linear,box-shadow .2s linear,-webkit-box-shadow .2s linear;
}

.rs-checkbox-wrapper .rs-checkbox-inner:after {
  opacity: 0;
  -webkit-transform: rotate(45deg) scale(0);
  transform: rotate(45deg) scale(0);
  -webkit-transition: opacity .2s ease-in,-webkit-transform .2s cubic-bezier(.12,.4,.29,1.46);
  transition: opacity .2s ease-in,-webkit-transform .2s cubic-bezier(.12,.4,.29,1.46);
  transition: opacity .2s ease-in,transform .2s cubic-bezier(.12,.4,.29,1.46);
  transition: opacity .2s ease-in,transform .2s cubic-bezier(.12,.4,.29,1.46),-webkit-transform .2s cubic-bezier(.12,.4,.29,1.46);
}

.rs-checkbox-wrapper .rs-checkbox-inner:after, 
.rs-checkbox-wrapper .rs-checkbox-inner:before, 
.rs-checkbox-wrapper:after, 
.rs-checkbox-wrapper:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}

.rs-checkbox-wrapper:after {
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
}

.rs-checkbox-wrapper:before {
  border: 1px solid #821c47;
  background-color: transparent;
  border-radius: 3px;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: .7;
  visibility: hidden;
  -webkit-transition: opacity .2s linear,-webkit-transform .2s linear;
  transition: opacity .2s linear,-webkit-transform .2s linear;
  transition: transform .2s linear,opacity .2s linear;
  transition: transform .2s linear,opacity .2s linear,-webkit-transform .2s linear;
}

.rs-checkbox-checked .rs-checkbox-wrapper:before {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 0;
  visibility: visible;
}

input[type=checkbox] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

/* dragable */

.dragableList {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 10px;
  box-shadow: 0px 1px 2px #e4e1e1;
  margin-bottom: 5px;
  background-color: #fff;
}

.dragableList.dropArea {
  color: white !important;
  background: white !important;
  position: relative;
}  

.dragableList.dropArea:before {
  content: "Drop Here";
  color: #000000;
  font-size: 0.5em;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  border: 2px dashed #000000;
  border-radius: 3px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drag {
  cursor: move;
}
